{{define "main"}}
<div>
    <div class="post">
        <h1>{{.Title }} Index</h1>
        <ul class="org-ul">
            {{ range .Pages }}
            <li>{{.Date.Format "2006-01-02"}} &nbsp;&nbsp;»&nbsp;&nbsp;<a href="{{.URL}}">{{.Title}}</a></li>
            {{ end }}
        </ul>
    </div>
</div>
{{end}}
