{{ define "main" }}
    <div class="post">
        <h1>{{.Title}}</h1>
        {{.Content}}
    </div>

    <div class="post-meta">
        <span title="post date" class="post-info">{{.Date.Format "2006-01-02"}}</span>
        <span title="last modification date" class="post-info">updated {{.Lastmod.Format "2006-01-02"}}</span>
        <span title="tags" class="post-info">tags: {{.Params.tags}}</span>
    </div>
{{ end }}
