<div>
    <div class="footer">
        this blog built with <a href="http://spacemacs.org/">spacemacs</a> and <a href="https://orgmode.org/">orgmode</a>.
        see the <a href="https://github.com/saadnpq/blog"> source</a> on github
    </div>
</div>
