<head>
    <title>saadnpq</title>
    <meta charset="utf-8" />
    <meta name="author" content="saadnpq" />
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
