<div>
    <header class="masthead">
        <h1 class="masthead-title"><a href="/">{{ partial "title.html"}}</a></h1>
        <ul>
            <li><a href="/posts/">blog/</a></li>
            <li><a href="https://cloud.saadnpq.com/index.php/s/public">files</a></li>
            <li><a href="https://github.com/saadnpq">github</a></li>
            {{ range .Site.Menus.main }}
            <li><a href="{{.URL}}"> {{.Name}}</a></li>
            {{ end }}
        </ul>
    </header>
</div>
