
<table>
    <tr>
        <th>tag</th>
        <th>rss link</th>
    </tr>
    <tr>
        <td><a href="/posts">all</a></td>
        <td><a href="/posts/index.xml">https://saadnpq.com/index.xml</a></li></td>
    </tr>
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
    <tr>
        <td><a href="{{ .Permalink }}">{{ $name }}</a></td>
        <td><a href="{{ .Permalink }}index.xml">https://saadnpq.com/tags/{{$name}}/index.xml</a></li></td>
    </tr>
    {{ end }}
    {{ end }}
</table>
